.topline {
	display: flex;
}

.rating_Good {
	background-image: url(like.png);
	background-repeat: no-repeat;
	background-size: contain;
	flex-grow: 1;
}

.rating_Bad {
	background-image: url(dislike.png);
	background-repeat: no-repeat;
	background-size: contain;
	flex-grow: 1;
}

input {
	max-width: 85%;
}